
/* FONT */
@font-face {
    font-family: "josefin";
    src: url("../fonts/josefin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*BOTON*/

.boton{
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
    float: right;
}

/*lIGHT*/
.light_tareas{
    margin-top: 50px;
    padding: 20px;
    grid-area:tareas;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin:0;
    border-radius: 10px;
    font-size:2vw;
    opacity: 0.9;
    color:rgb(116, 115, 115);
    font-family: "josefin";

    
    
}
/*Estilos de los botones light*/
.light_btn{
    margin-top: 40px;
}
.style_btn{
    background-color: white;
    
    color:rgb(116, 115, 115);
    border-radius: 10px;
    font-size: 2vw;
    border-style: none;
    border-color: transparent;
}
.style_btn:hover{
    background-color: white;
    color: #5943CA;
    border-radius: 10px;
    font-size: 2vw;
    border-style: none;
    border-color: transparent;
}
/* estilos grid light*/
.inputContainer{
    width: 30vw;
    height: 2.8vw;
    border-style: solid;
    border-color: white;
}

.light_container{
    background-color: white;
    background-image:url("../images/bg-desktop-light.jpg");
    background-size: auto 250px;
    background-repeat: no-repeat;
    background-position:initial;
    display: grid;
    grid-template-areas: "title moon"
                        "input input"
                        "tareas tareas"
                        ;
    grid-template-columns: 20vw 20vw;
    grid-template-rows: auto auto 50vw 50vw 150vw 150vw;
    justify-content: center;
    align-items: center;
    grid-gap:10px;
    padding-top:70px;
    padding-left:70px;
    padding-right:70px;
}

.light_container_icon{
    width: 2vw;
    height: 2vw;
    color:white;
}

.light_container_title{
    justify-content: center;
    color:white;
    font-size:1.5vw;
    grid-area: title;
    
}
.light_container_input{
    padding: 5px;
    position: relative;
    grid-area: input;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    
}

.light_container_circle{
    opacity: 0.4;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width:1vw;
    height:1vw;
    border-radius:50%;
    border: solid 1px rgb(61, 61, 61);
    overflow:hidden;
}
.light_container_button{
    grid-area: moon;
    
}

.light_btn{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.tareaLight:hover{
    color: #5943CA;

}

/*DARK*/

.dark_tareas{
    margin-top: 50px;
    padding: 20px;
    grid-area:tareas;
    background-color: #24273D;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin:0;
    border-radius: 10px;
    font-size:2vw;
    opacity: 0.9;
    color:rgb(116, 115, 115);
    font-family: "josefin";

    
    
}
.tareaDark:hover{
    color: #5943CA;

}

/*Estilos de los botones dark*/
.dark_btn{
    margin-top: 40px;
}
.style_btn_dark{
    background-color: #24273D;
    
    color:rgb(116, 115, 115);
    border-radius: 10px;
    font-size: 2vw;
    border-style: none;
    border-color: transparent;
}
.style_btn_dark:hover{
    background-color: #24273D;
    color: #5943CA;
    border-radius: 10px;
    font-size: 2vw;
    border-style: none;
    border-color: transparent;
}
/*Estilos grid dark*/
.inputContainer_dark{
    width: 30vw;
    height: 2.8vw;
    border-style: solid;
    background-color: #24273D;
    border-color: #24273D;
}

.dark_container{
    background-color: #181824;
    background-image:url("../images/bg-desktop-dark.jpg");
    background-attachment: fixed;
    background-size: auto 250px;
    background-repeat: no-repeat;
    background-position:initial;
    display: grid;
    grid-template-areas: "title moon"
                        "input input"
                        "tareas tareas";
    grid-template-columns: 20vw 20vw;
    grid-template-rows: auto auto 50vw 50vw;
    justify-content: center;
    align-items: center;
    grid-gap:5px;
    padding:70px;
}

.dark_container_icon{
    width: 2vw;
    height: 2vw;
    color:white;
}

.dark_container_title{
    justify-content: center;
    color:white;
    font-size:1.5vw;
    grid-area: title;
    
}
.dark_container_input{
    color:rgb(116, 115, 115);
    padding: 5px;
    position: relative;
    grid-area: input;
    background-color: #24273D;
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px 40px #0F1019;
}

.dark_container_circle{
    opacity: 0.2;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width:1vw;
    height:1vw;
    border-radius:50%;
    border: solid 1px rgb(116, 115, 115);
    overflow:hidden;
}
.dark_container_button{
    grid-area: moon;
    
}

.dark_btn{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

